body {
}
div.page-header {
   background-image: url('Image/waves.jpg');
   background-size:contain;
   margin-top:0px;
   padding-top:3px;
   padding-bottom:0px;
   margin-bottom:0px;
}
.container {
    text-align:center;
}
/*NAVBAR STYLING*/
nav#navvy.navbar.navbar-static-top{
    background-color:#4B57E8;
    text-decoration:solid;
    text-decoration-color:black;
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom:0px;
    margin-top:0px;
}
nav a {
    color:black;
}
/*MAIN STYLING*/
.main {
    background-image: url('Image/boxwithwater.jpg');
    background-size:cover;
}

